[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/node"]
	path = bundle/node
	url = https://github.com/moll/vim-node.git
[submodule "bundle/neoformat"]
	path = bundle/neoformat
	url = https://github.com/sbdchd/neoformat.git
[submodule "bundle/vim-prettier"]
	path = bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim-scala"]
	path = vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/vim-scripts/mru.vim.git
